<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halo 5 Missions</title>
    <link rel="stylesheet" href="/static/index.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAA4f8AAAAAAP///wCCfgoA//cAAACM/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERERERERERERERETMzERERERFBMzMUEREREUEzMxQRERFEQTETFEQRFEERMzMRFEEUFSUREVJRQRFQAAVQAAUREVAgAAACBRERUCAAAAIFERMVIlVVIlExExERERERETERMzMzMzMzERERERERERERERFEREREERH//wAA/D8AAPAPAADgBwAAwAMAAIABAAAAAAAAAAAAAIABAACAAQAAgAEAAAAAAAAAAAAAgAEAAMADAADgBwAA" rel="icon" type="image/x-icon" />

</head>
<body>
    <section>
        <!-- Different missions are loaded from the 343 Industries API. -->
        <p class="miss1">{{Mission1}}</p>
        <p class="miss2">{{Mission2}}</p>
        <p class="miss3">{{Mission3}}</p>
        <p class="miss4">{{Mission4}}</p>
        <p class="miss5">{{Mission5}}</p>
        <p class="miss6">{{Mission6}}</p>
        <p class="miss7">{{Mission7}}</p>
        <p class="miss8">{{Mission8}}</p>
        <p class="miss9">{{Mission9}}</p>
        <p class="miss10">{{Mission10}}</p>
        <p class="miss11">{{Mission11}}</p>
        <p class="miss12">{{Mission12}}</p>
        <p class="miss13">{{Mission13}}</p>
        <p class="miss14">{{Mission14}}</p>
        <p class="miss15">{{Mission15}}</p>
    </section>
</body>
</html>